<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>rocks.teddysc.alfred-launchctl</string>
	<key>connections</key>
	<dict>
		<key>055D821D-9F7B-48AE-B8BB-1CC48556D065</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19FA9139-C396-47E4-AA41-84CA4C47E2B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19FA9139-C396-47E4-AA41-84CA4C47E2B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFC8BA4F-F872-446E-8AAA-1135FFFEFC57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>771613CD-C35E-4D4E-B537-EB71CEF5445A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E7A001-E369-4891-9F2F-2E14D5826FE3</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B1B9844-DE5C-4F03-9282-350B94C4C113</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B1B9844-DE5C-4F03-9282-350B94C4C113</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>055D821D-9F7B-48AE-B8BB-1CC48556D065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFC8BA4F-F872-446E-8AAA-1135FFFEFC57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DA82E4D-5F90-42E3-9AB1-3DAA2C3AF941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6E7A001-E369-4891-9F2F-2E14D5826FE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD06FCCB-AB71-48DE-8A6C-6764155CBC6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Teddy</string>
	<key>description</key>
	<string>control launchd plists with alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>launchctl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/opt/python@3.10/bin/python3 show_info.py "{query}"

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD06FCCB-AB71-48DE-8A6C-6764155CBC6E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>plist_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C6E7A001-E369-4891-9F2F-2E14D5826FE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/opt/python@3.10/bin/python3 do_action.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFC8BA4F-F872-446E-8AAA-1135FFFEFC57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Completed</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1DA82E4D-5F90-42E3-9AB1-3DAA2C3AF941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>laup</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/opt/python@3.10/bin/python3 choose_plist.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Choose a plist from ~/Library/LaunchAgents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>771613CD-C35E-4D4E-B537-EB71CEF5445A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/opt/python@3.10/bin/python3 choose_action.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>055D821D-9F7B-48AE-B8BB-1CC48556D065</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>plist_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9B1B9844-DE5C-4F03-9282-350B94C4C113</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>19FA9139-C396-47E4-AA41-84CA4C47E2B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>055D821D-9F7B-48AE-B8BB-1CC48556D065</key>
		<dict>
			<key>note</key>
			<string>do_action</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>19FA9139-C396-47E4-AA41-84CA4C47E2B6</key>
		<dict>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>1DA82E4D-5F90-42E3-9AB1-3DAA2C3AF941</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>771613CD-C35E-4D4E-B537-EB71CEF5445A</key>
		<dict>
			<key>note</key>
			<string>choose_plist</string>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>9B1B9844-DE5C-4F03-9282-350B94C4C113</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>BFC8BA4F-F872-446E-8AAA-1135FFFEFC57</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>375</integer>
		</dict>
		<key>C6E7A001-E369-4891-9F2F-2E14D5826FE3</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>CD06FCCB-AB71-48DE-8A6C-6764155CBC6E</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
